.video-download-button__activator[data-v-5074a90a] {
  height:44px;
  background-color:transparent
}
@media(max-width:1199px) {
  .video-download-button__activator[data-v-5074a90a] {
    height:36px
  }
}
.video-download-button__activator[data-v-5074a90a]:hover {
  background-color:transparent
}
.video-download-button__activator[data-v-5074a90a] .app-icon {
  fill:#fff;
  margin-left:10px
}
.video-download-button__activator.--active[data-v-5074a90a] {
  background-color:var(--main-color)
}
.video-download-button__activator.--active[data-v-5074a90a] .app-icon {
  transform:rotate(180deg)
}
.video-download-button__list[data-v-5074a90a] {
  position:relative;
  border-radius:10px;
  background-color:var(--second-content-bg);
  min-height:333px;
  padding-bottom:10px
}
@media(max-width:1199px) {
  .video-download-button__list[data-v-5074a90a] {
    min-height:unset
  }
}
.video-download-button__list-close[data-v-5074a90a] {
  position:absolute;
  top:26px;
  right:22px;
  cursor:pointer
}
@media(max-width:767px) {
  .video-download-button__list-close[data-v-5074a90a] {
    right:16px
  }
}
.video-download-button__list-items[data-v-5074a90a] {
  display:flex;
  flex-direction:column
}
.video-download-button__list-item[data-v-5074a90a] {
  min-height:39px;
  padding:10px 16px;
  font-size:16px;
  cursor:pointer
}
@media(max-width:767px) {
  .video-download-button__list-item[data-v-5074a90a] {
    min-height:37px;
    font-size:14px
  }
}
@media(max-width:959px)and (orientation:landscape) {
  .video-download-button__list-item[data-v-5074a90a] {
    height:37px;
    line-height:37px;
    font-size:14px
  }
}
.video-download-button__list-item[data-v-5074a90a]:hover {
  background-color:var(--extra-content-bg)
}
.video-download-button__list-item span[data-v-5074a90a] {
  color:var(--second-content-color);
  margin-left:12px
}
.video-download-button__list-item.--not-recommend[data-v-5074a90a] {
  color:#8e8e93
}
.video-download-button__device-button[data-v-5074a90a] {
  font-size:16px;
  height:19px;
  padding:0;
  margin-left:16px;
  margin-top:25px;
  margin-bottom:6px
}
@media(max-width:767px) {
  .video-download-button__device-button[data-v-5074a90a] {
    font-size:14px;
    height:17px;
    margin-left:10px;
    margin-bottom:8px
  }
}
@media(max-width:959px)and (orientation:landscape) {
  .video-download-button__device-button[data-v-5074a90a] {
    font-size:14px;
    margin-bottom:8px
  }
}
.video-download-button__device-button[data-v-5074a90a] .app-icon {
  margin-left:10px
}
@media(max-width:767px) {
  .video-download-button__device-button[data-v-5074a90a] .app-icon {
    margin-left:6px
  }
}
.video-download-button__device-button.--active[data-v-5074a90a] .app-icon {
  color:var(--main-color)
}
