.video-download-button.--video-item[data-v-37da09dc] {
  position:static
}
@media(min-width:768px) {
  .video-download-button.--video-item[data-v-37da09dc] .app-menu__content {
    top:0!important;
    bottom:0;
    width:100%
  }
}
@media(max-width:959px) {
  .video-download-button.--video-item[data-v-37da09dc] .app-menu__content {
    bottom:unset;
    top:102%!important;
    width:100%
  }
}
@media(max-width:767px) {
  .video-download-button.--video-item[data-v-37da09dc] .app-menu__content {
    width:295px;
    top:94px!important
  }
}
.video-download-button__activator[data-v-37da09dc] {
  position:relative;
  height:45px;
  background-color:transparent;
  border-width:1px;
  color:#153240;
  border-radius:7px;
  font-weight:400;
  font-family:var(--mdc-typography-font-family)
}
.video-download-button__activator[data-v-37da09dc]:hover {
  color:#fff;
  background-color:var(--main-color-hover);
  border-color:var(--main-color-hover)
}
.video-download-button__activator[data-v-37da09dc]:active {
  color:#fff;
  background-color:var(--main-color-active);
  border-color:var(--main-color-active)
}
.video-download-button__activator[data-v-37da09dc] .app-icon {
  fill:#fff;
  margin-left:10px
}
@media(min-width:768px) {
  .video-download-button__activator.--active[data-v-37da09dc] {
    background-color:var(--main-color);
    color:#fff
  }
}
.video-download-button__activator.--active[data-v-37da09dc] .app-icon {
  transform:rotate(180deg) translateY(50%)!important
}
.video-download-button__activator.--video-item[data-v-37da09dc] {
  border-color:var(--main-color)
}
@media(min-width:961px) {
  .video-download-button__activator.--video-item[data-v-37da09dc] {
    width:200px;
    height:34px;
    font-size:15px
  }
}
@media(max-width:959px) {
  .video-download-button__activator.--video-item[data-v-37da09dc] {
    width:152px;
    height:27px;
    font-size:12px
  }
}
@media(max-width:767px) {
  .video-download-button__activator.--video-item[data-v-37da09dc] {
    width:184px;
    height:34px;
    font-size:14px
  }
}
.video-download-button__activator.--video-item[data-v-37da09dc]:hover {
  border-color:var(--main-color-hover);
  background-color:var(--main-color-hover)
}
@media(min-width:768px) {
  .video-download-button__activator.--video-item.--active[data-v-37da09dc] {
    border-color:var(--main-color-hover);
    background-color:var(--main-color-hover)
  }
}
.video-download-button__activator.--single-video[data-v-37da09dc] {
  font-size:18px;
  font-weight:400;
  width:260px;
  margin:0 auto;
  height:50px
}
@media(max-width:1024px) {
  .video-download-button__activator.--single-video[data-v-37da09dc] {
    width:100%;
    height:52px
  }
}
@media(max-width:767px) {
  .video-download-button__activator.--single-video[data-v-37da09dc] {
    font-size:15px;
    height:47px
  }
}
.video-download-button__activator.--single-video[data-v-37da09dc] .app-icon {
  position:absolute;
  top:50%;
  right:20px;
  transform:translateY(-50%);
  font-size:24px
}
.video-download-button__list[data-v-37da09dc] {
  position:relative;
  border-radius:10px;
  min-height:333px;
  padding-bottom:10px;
  box-shadow:0 3px 6px rgba(0,0,0,.16);
  font-family:var(--mdc-typography-font-family)
}
.video-download-button__list.--video-item[data-v-37da09dc] {
  background-color:#fff
}
@media(min-width:961px) {
  .video-download-button__list.--video-item[data-v-37da09dc] {
    box-shadow:none;
    min-height:100%;
    height:100%;
    display:flex;
    flex-direction:column
  }
}
@media(max-width:959px) {
  .video-download-button__list.--video-item[data-v-37da09dc] {
    min-height:unset
  }
}
@media(max-width:767px) {
  .video-download-button__list.--video-item[data-v-37da09dc] {
    width:295px;
    background:#f5f9f9
  }
}
.video-download-button__list.--single-video[data-v-37da09dc] {
  min-height:unset;
  background:#0f2a2e;
  padding:20px 12px;
  border-radius:6px
}
@media(max-width:767px) {
  .video-download-button__list.--single-video[data-v-37da09dc] {
    width:230px
  }
}
.video-download-button__list-close[data-v-37da09dc] {
  position:absolute;
  cursor:pointer;
  color:#a8a6a6;
  font-size:24px!important;
  top:0;
  right:0
}
@media(min-width:769px) {
  .video-download-button__list-close.--video-item[data-v-37da09dc] {
    top:-10px;
    right:-10px
  }
}
.video-download-button__list-close.--single-video[data-v-37da09dc] {
  top:6px;
  color:#8e8e93
}
@media(max-width:1024px) {
  .video-download-button__list-close.--single-video[data-v-37da09dc] {
    right:6px
  }
}
.video-download-button__list-close.--single-video[data-v-37da09dc]:hover {
  color:#b1b1b1;
  background:hsla(0,0%,100%,.2);
  border-radius:50%
}
@media(max-width:1024px) {
  .video-download-button__list-close.--single-video[data-v-37da09dc]:hover {
    color:#fff
  }
}
.video-download-button__list-items[data-v-37da09dc] {
  display:flex;
  flex-direction:column
}
@media(min-width:961px) {
  .video-download-button__list-items.--video-item[data-v-37da09dc] {
    align-items:flex-start;
    flex-wrap:wrap;
    flex:1;
    min-height:0
  }
}
@media(max-width:959px) {
  .video-download-button__list-items.--video-item[data-v-37da09dc] {
    padding:0 30px
  }
}
.video-download-button__list-items.--single-video[data-v-37da09dc] {
  margin:0 -10px
}
.video-download-button__list-item[data-v-37da09dc] {
  cursor:pointer
}
.video-download-button__list-item.--video-item[data-v-37da09dc] {
  min-height:34px;
  padding:0 10px;
  font-size:12px;
  line-height:34px;
  font-weight:400;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  border-radius:4px
}
.video-download-button__list-item.--video-item[data-v-37da09dc]:hover {
  color:#fff
}
.video-download-button__list-item.--video-item span[data-v-37da09dc] {
  margin-right:10px
}
.video-download-button__list-item.--video-item span[data-v-37da09dc]:hover {
  color:#fff
}
.video-download-button__list-item.--single-video[data-v-37da09dc] {
  min-height:32px;
  padding:0 10px;
  font-size:14px;
  line-height:30px;
  font-weight:400
}
.video-download-button__list-item.--single-video[data-v-37da09dc]:hover {
  background-color:#173337
}
.video-download-button__list-item.--single-video span[data-v-37da09dc]:hover {
  color:#fff
}
.video-download-button__list-item[data-v-37da09dc]:hover {
  background-color:var(--main-color)
}
.video-download-button__list-item span[data-v-37da09dc] {
  color:#7e8f92;
  margin-left:10px
}
.video-download-button__list-item span[data-v-37da09dc]:hover {
  color:#153240
}
.video-download-button__list-item.--not-recommend[data-v-37da09dc] {
  color:#8e8e93
}
.video-download-button__device-button[data-v-37da09dc] {
  font-size:15px;
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content;
  padding:0;
  margin-left:16px;
  margin-top:25px
}
.video-download-button__device-button.--video-item[data-v-37da09dc] {
  margin-bottom:6px;
  border-width:0;
  font-size:15px;
  font-weight:700;
  color:#153240
}
@media(min-width:961px) {
  .video-download-button__device-button.--video-item[data-v-37da09dc] {
    margin:0 0 15px;
    align-self:flex-start
  }
}
@media(max-width:959px) {
  .video-download-button__device-button.--video-item[data-v-37da09dc] {
    margin-left:30px;
    margin-top:15px;
    margin-bottom:14px
  }
}
.video-download-button__device-button.--video-item[data-v-37da09dc]:hover {
  opacity:1
}
.video-download-button__device-button.--video-item:hover span[data-v-37da09dc] {
  background:hsla(0,0%,100%,.2);
  border-radius:50%
}
.video-download-button__device-button.--video-item span[data-v-37da09dc] {
  font-size:20px;
  margin-left:8px
}
.video-download-button__device-button.--single-video[data-v-37da09dc] {
  margin:0 0 14px;
  font-weight:700;
  border:none;
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content;
  opacity:1
}
.video-download-button__device-button.--single-video:hover span[data-v-37da09dc] {
  background:hsla(0,0%,100%,.2);
  border-radius:50%
}
.video-download-button__device-button.--single-video span[data-v-37da09dc] {
  font-size:20px;
  margin-left:8px;
  color:#fff
}
.video-download-button__device-button[data-v-37da09dc] .app-icon {
  margin-left:10px
}
.video-download-button__device-button.--active[data-v-37da09dc] .app-icon {
  color:var(--main-color)
}
